---
const { graphImgUrl, caption } = Astro.props;
// math equation to generate the accurate number of the day
const x = new Date().getDate();
const y = new Date().getSeconds();
const z = new Date().getMilliseconds();
const accurateNumberStage1 = (x * y) / z;
const accurateNumberStage2 =
	accurateNumberStage1 % 1.785298349182997561289487198679829683916825689;
const accurateNumberStage3 = accurateNumberStage2 / 1000000000000000000;
let accuracyPercentage =
	1.128943789237891598723789147928789152897267891237086812735653 *
		100.5782384172874 +
	Math.sin(accurateNumberStage2) * 10008.5782384172874;

accuracyPercentage = accuracyPercentage + Math.random() * 100000000;

if (Math.random() < 0.1) {
	accuracyPercentage += 500000;
}

let accuracyStyle = `color: hsl(${accuracyPercentage}, 100%, 50%); font-weight: bold;`;
---

<div class="flex flex-col items-center justify-center">
	<img
		src={graphImgUrl}
		alt="Graph"
		class="w-4xl h-auto rounded-lg shadow-lg border-8 border-grain-side hover:border-grain-side-hover hover:animate-vibrate"
		style="animation-duration: 3s;"
	/>
	<p class="text-center mt-4 text-white text-xl font-bold">
		{caption}
	</p>
	<p class="text-center mt-2 text-white text-lg font-bold">
		THIS GRAPH IS
		<span style={accuracyStyle}>
			{Math.round(accuracyPercentage)}
		</span>
		% accurate
	</p>
	<a href={graphImgUrl} download class="graph-download-button">
		<img src="/assets/img/download.png" alt="Download" />
	</a>
</div>
